@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

:root {
  --primary-light-color: rgb(240, 244, 249);
  --primary-base-color: #73659a;
  --primary-dark-color: #423064;

  --secondary-base-color: #e26e0b;

  --neutral-light-color: #ffffff;
  --neutral-base-color: #686868;
  --neutral-dark-color: #393e41;
}

.home .hero {
  &-content {
    position: relative;
    z-index: 20;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  &::before {
    background-image: url("@/images/home-hero-bg.jpg");
    background-position: top left;
    background-size: cover;
    height: 100%;
  }

  &-title {
    margin-top: 8rem;
    font-size: 2.5rem;
  }

  &-navigation {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &-item {
      width: 0.25rem;
      height: 2rem;
      background-color: var(--neutral-light-color);

      &.is-active {
        background-color: var(--neutral-base-color);
      }

      & + * {
        margin-top: 0.25rem;
      }
    }
  }
}

// currencies
.home .currencies {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 72px;
  }

  &::before {
    z-index: 10;
    background-image: url("@/images/shape-bg.png");
    background-size: cover;
    opacity: 0.5;
  }

  &::after {
    top: 1px;
    z-index: 10;
    background-color: white;
    opacity: 0.5;
  }

  .currencies-content {
    @include shadow(md);
    position: relative;
    z-index: 20;
    background-color: var(--neutral-light-color);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }

  .currencies-title {
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
    border: 2px solid var(--primary-base-color);
    align-self: center;
    white-space: nowrap;
  }

  .list {
    flex-grow: 2;
    font-size: 0.8rem;
    display: grid;
    gap: 1rem;

    @include breakpoints(md) {
      @include grid-cols(2);
    }

    @include breakpoints(lg) {
      @include grid-cols(3);
    }
  }

  .item {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    border: 2px solid rgb(250, 249, 249);
    flex-grow: 1;

    &-title {
      font-weight: 600;
      margin-bottom: 0.5rem;
      white-space: nowrap;
      font-size: 1rem;
    }

    &-subtitle {
      font-weight: 400;
      margin-bottom: 0.5rem;
    }

    &-sale {
      --color: red;
    }

    &-buy {
      --color: green;
    }

    &-value {
      --color: inherit;
      color: var(--color);
      font-weight: 600;
    }
  }

  // mobile screen
  @include maxBreakpoints(sm) {
    .currencies-content {
      flex-wrap: wrap;
      justify-content: center;
    }

    .item {
      justify-content: center;
    }
  }
}

// services section
.home .services {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: 5;
    bottom: 40px;
    width: 100%;
    height: 300px;
    opacity: 0.1;
    background-image: url("@/images/pattern-bg.png");
  }

  &-wrapper {
    @include mx(auto);
    margin-top: 5rem;
    width: 90%;
    max-width: $xl;
  }

  @include maxBreakpoints(sm) {
    .slider {
      scroll-snap-type: x mandatory;
      overflow: auto;
      width: 100vw;

      &-item {
        scroll-snap-align: center;
      }
    }

    .services-slider-action {
      display: none;
    }
  }

  &-slider {
    position: relative;
    margin-top: 1rem;

    &-pagination {
      @include mx(auto);
      display: flex;
      justify-content: space-between;

      @include maxBreakpoints(sm) {
        display: none;
      }

      &-item {
        position: relative;
        @include py(3rem);
        cursor: pointer;

        &.is-active::after {
          content: "";
          position: absolute;
          bottom: 16px;
          left: 50%;
          transform: translateX(-50%);
          width: 1px;
          height: 20%;
          background-color: var(--primary-dark-color);
        }
      }
    }

    &-body {
      @include shadow(md);
      @include maxBreakpoints(sm) {
        text-align: center;
      }

      position: relative;
      margin-top: 0.5rem;
      z-index: 10;
    }

    .slider-wrapper {
      background-color: white;
      @include mx(auto);
      position: relative;
    }

    .slider-item {
      min-width: 100%;
      height: 400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #eee;
    }

    .slide-content {
      padding: 2.5rem;
      padding-bottom: 1rem;

      @include breakpoints(sm) {
        width: 70%;
      }
    }

    .slide-title {
      font-size: 1.5rem;
      color: var(--primary-base-color);
    }

    .slide-description {
      margin-top: 2rem;
      color: var(--neutral-base-color);

      @include breakpoints(sm) {
        font-size: 0.9rem;
        max-width: 80%;
      }
    }

    .slide-link {
      @include px(3rem);

      @include breakpoints(sm) {
        margin-top: 4rem;
      }

      @include breakpoints(md) {
        margin-top: 5rem;
      }

      margin-top: 3rem;
    }

    .slide-bg {
      padding: 0.5rem;
      width: 30%;
      height: 100%;
      display: flex;
      background-color: var(--primary-base-color);

      @include maxBreakpoints(sm) {
        display: none;
      }
    }

    &-action {
      position: absolute;
      z-index: 10;
      top: 65%;
      left: 50%;
      width: 100%;
      max-width: calc(#{$xl} + 15rem);
      display: flex;
      justify-content: space-between;
      transform: translateX(-50%);

      button {
        color: var(--primary-base-color);
        font-size: 2rem;
      }
    }
  }
}

.home .bank-app {
  position: relative;
  margin-top: 6rem;
  padding-top: 5rem;
  min-height: 750px;
  overflow: hidden;

  .wrapper {
    min-height: 500px;
    display: flex;
    gap: 2rem;
  }

  &-phone-bg {
    margin-top: 6rem;
    object-fit: contain;

    @include breakpoints(md) {
      max-width: 350px;
    }

    @include breakpoints(lg) {
      max-width: 600px;
    }
  }

  .content {
    @include breakpoints(md) {
      width: 70%;
    }
  }

  .section-title {
    margin-top: 4rem;
  }

  .description {
    max-width: 464px;
  }

  .bank-app-slider-wrapper {
    margin-top: 4rem;
    overflow: hidden;
    position: absolute;
    min-width: 1200px;
  }

  .bank-app-slider {
    gap: 2rem;
    align-items: flex-start;
    max-width: 600px;
  }

  .slide {
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
    transform: scale(0.9);

    @include maxBreakpoints(sm) {
      min-width: 80%;
    }

    @include breakpoints(sm) {
      min-width: 350px;
    }

    @include breakpoints(lg) {
      min-width: 450px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      font-size: 0.8rem;
      max-width: 60%;

      li {
        white-space: nowrap;
      }
    }

    &-links {
      margin-top: 2rem;
    }

    &-links-item {
      display: inline-flex;
      height: 30px;
      width: 100px;
      border: 1px solid var(--neutral-dark-color);
      border-radius: 0.25rem;
      overflow: hidden;
    }
  }

  .naif-class {
    color: red;
  }

  .active-slide {
    transform: scale(1);
    // min-height: 240px;
  }

  .slider-pagination {
    margin-top: 1rem;
    display: flex;
    gap: 0.25rem;

    .item {
      width: 1rem;
      height: 0.5rem;
      border-radius: 1rem;
      background-color: var(--neutral-base-color);
      cursor: pointer;
      transition: width 0.3s ease-in;

      &.is-active {
        width: 6rem;
        background-color: var(--primary-base-color);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #f5f7fb;
    clip-path: polygon(51% 3%, 100% 0, 100% 99%, 65% 97%, 21% 94%, 0 91%, 0 0);
  }

  // mobile screen
  @include maxBreakpoints(md) {
    .wrapper {
      justify-content: center;
    }

    .content {
      text-align: center;
    }

    .bank-app-phone-bg {
      display: none;
    }

    .slide-list {
      max-width: 90%;
      margin: {
        left: auto;
        right: auto;
      }
    }

    .slide-links-item:first-of-type {
      margin-inline-end: 1rem;
    }
  }
}

.home .news {
  .section-title {
    @include my(4rem);
  }

  &-content {
    position: relative;
    z-index: 2;
  }

  .slider-wrapper {
    position: relative;
    z-index: 2;
  }

  &-slider {
    gap: 2.5rem;
  }

  .slide {
    @include shadow(md);
    flex: 1 1 300px;
    position: relative;
    min-width: 100%;

    @include breakpoints(md) {
      min-width: 48%;
    }

    @include breakpoints(lg) {
      min-width: 31%;
    }

    &-image {
      height: 320px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      padding: 1rem 2rem 3rem;

      border: 1px solid #eee;
      border-top-color: transparent;
    }

    &-title,
    &-link {
      transition: opacity 0.3s 0.65s ease;
    }

    &-title {
      @include my(2rem);
    }

    &-link {
      color: var(--primary-base-color);
      border-bottom: 2px solid var(--primary-base-color);
    }
  }

  // effect section
  @include breakpoints(md) {
    .slide:hover {
      .slide-title,
      .slide-link {
        opacity: 0;
        transition: opacity 0.3s 0.35s ease;
      }

      .slide-effect {
        &::before {
          height: 2rem;
        }

        &::after {
          transform: scale(100);
          width: 1rem;
          height: 1rem;
        }

        &-content {
          opacity: 1;
        }
      }
    }
  }

  .slide-effect {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1;

    &::before,
    &::after {
      content: "";
      left: 50%;
      position: absolute;
    }

    &::before {
      width: 2px;
      height: 0rem;
      background: white;
      z-index: 1;
      transform: translateX(-50%);
      transition: all 0.2s ease-in;
    }

    &::after {
      top: 2rem;
      width: 0rem;
      height: 0rem;
      background: rgba(66, 48, 100, 0.5);
      border-radius: 9999rem;
      transform: translateX(-50%) scale(1);
      transition: all 0.5s 0.2s ease-in-out;
    }

    &-content {
      opacity: 0;
      transition: opacity 0.3s 0.5s ease;
      position: relative;
      z-index: 2;
      padding: {
        top: 5rem;
        left: 2rem;
        right: 2rem;
      }
      color: white;
      border: none;

      .title {
        text-align: center;
        font-size: 1.5rem;
      }

      .description {
        display: block;
      }

      .link {
        display: block;
        margin: auto;
        width: fit-content;
        color: white;
        border-bottom: 1px solid white;
        margin-top: 2rem;
      }
    }
  }

  .news-slider-actions {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;

    button {
      font-size: 1.5rem;
      color: var(--primary-base-color);
    }

    .back-btn {
      @include breakpoints(md) {
        transform: translateX(2.5rem);
      }

      @include breakpoints(lg) {
        transform: translateX(3rem);
      }
    }

    .forward-btn {
      @include breakpoints(md) {
        transform: translateX(-2.5rem);
      }

      @include breakpoints(lg) {
        transform: translateX(-3rem);
      }
    }
  }

  .see-more-link {
    @include mx(auto);
    @include px(3rem);

    margin-top: 3rem;
    display: block;
  }

  @media (max-width: 768px) {
    .slide-effect {
      display: none;
    }

    .slider {
      scroll-snap-type: x mandatory;
      overflow: auto;
      width: 100vw;
    }

    .slide {
      scroll-snap-align: start;
    }

    .news-slider-actions {
      display: none;
    }
  }
}

.home .successes-number {
  margin-top: 6rem;
  padding: {
    top: 3rem;
    bottom: 3rem;
  }
  background-color: var(--primary-dark-color);
  color: var(--neutral-light-color);

  .section-title {
    color: inherit;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -100%;
      right: 0;
      background-color: var(--neutral-light-color);
      width: 2px;
      height: 1.75rem;
    }
  }

  .list {
    display: grid;
    margin-top: 2rem;
    gap: 3rem;
    padding: 2rem;
    position: relative;

    @include breakpoints(sm) {
      @include grid-cols(2);
    }

    @include breakpoints(md) {
      @include grid-cols(3);
    }

    @include breakpoints(lg) {
      @include grid-cols(4);
    }

    .item {
      padding-bottom: 1rem;
      border-bottom: 0.2rem solid var(--primary-base-color);

      &-title {
        font-size: 2rem;
        position: relative;
        z-index: 10;
      }

      &-description {
        margin: 0;
        font-size: 0.8rem;
        max-width: 70%;
        position: relative;
        z-index: 10;
      }
    }

    // number placeholder
    .item:hover::after {
      content: "+" attr(data-number);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      color: rgb(115 101 154 / 17%);
      z-index: 0;
      font-weight: bold;

      @include maxBreakpoints(sm) {
        display: none;
      }

      @include breakpoints(sm) {
        font-size: 18rem;
      }

      @include breakpoints(lg) {
        font-size: 25rem;
      }
    }
  }
}

.home .our-points {
  padding: {
    top: 6rem;
    bottom: 6rem;
  }

  .content {
    display: flex;

    @include maxBreakpoints(sm) {
      flex-direction: column;
      gap: 2rem;
      align-items: center;

      .content-body {
        text-align: center;
      }

      .content-map {
        display: none;
      }
    }

    @include breakpoints(sm) {
      justify-content: space-between;
      align-items: center;

      &-body {
        @include col(5);
      }

      &-map {
        @include col(7);
      }
    }

    &-body {
    }

    &-link {
      margin-top: 3rem;
      display: inline-block;
    }
  }

  .list {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;

    .item {
      &-title {
        margin-top: 0.5rem;
        color: var(--primary-base-color);
      }

      &:not(:first-of-type) .item-value {
        border-inline-start: 1px solid var(--primary-base-color);
      }

      &-value {
        text-align: center;
      }
    }
  }
}
