@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;
@use "../abstracts/variables" as *;

.service-story .slider-wrapper {
  width: 400px;
  height: 350px;
  float: left;
  padding: 2rem;
  /* shape-outside: border-box; */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.service-story .story-description {
  &::after {
    content: "";
    clear: both;
    display: inline-block;
  }
}

.service-story .news {
  margin-top: 8rem;

  .list {
    display: grid;
    gap: 3rem;

    @include breakpoints(md) {
      @include grid-cols(2);
    }

    @include breakpoints(lg) {
      @include grid-cols(3);
    }
  }

  .section-title {
    margin-bottom: 4rem;
    font-size: xxx-large;
    text-align: center;
  }

  &-content {
    position: relative;
    z-index: 2;
  }

  .slide {
    @include shadow(md);
    flex: 1 1 300px;
    position: relative;
    min-width: 100%;

    @include breakpoints(md) {
      min-width: 48%;
    }

    @include breakpoints(lg) {
      min-width: 31%;
    }

    &-image {
      height: 320px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      padding: 1rem 2rem 3rem;

      border: 1px solid #eee;
      border-top-color: transparent;
    }

    &-title,
    &-link {
      transition: opacity 0.3s 0.65s ease;
    }

    &-title {
      @include my(2rem);
    }

    &-link {
      color: var(--primary-base-color);
      border-bottom: 2px solid var(--primary-base-color);
    }
  }

  // effect section
  @include breakpoints(md) {
    .slide:hover {
      .slide-title,
      .slide-link {
        opacity: 0;
        transition: opacity 0.3s 0.35s ease;
      }

      .slide-effect {
        &::before {
          height: 2rem;
        }

        &::after {
          transform: scale(100);
          width: 1rem;
          height: 1rem;
        }

        &-content {
          opacity: 1;
        }
      }
    }
  }

  .slide-effect {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1;

    &::before,
    &::after {
      content: "";
      left: 50%;
      position: absolute;
    }

    &::before {
      width: 2px;
      height: 0rem;
      background: white;
      z-index: 1;
      transform: translateX(-50%);
      transition: all 0.2s ease-in;
    }

    &::after {
      top: 2rem;
      width: 0rem;
      height: 0rem;
      background: rgba(66, 48, 100, 0.5);
      border-radius: 9999rem;
      transform: translateX(-50%) scale(1);
      transition: all 0.5s 0.2s ease-in-out;
    }

    &-content {
      opacity: 0;
      transition: opacity 0.3s 0.5s ease;
      position: relative;
      z-index: 2;
      padding: {
        top: 5rem;
        left: 2rem;
        right: 2rem;
      }
      color: white;
      border: none;

      .title {
        text-align: center;
        font-size: 1.5rem;
      }

      .description {
        display: block;
      }

      .link {
        display: block;
        margin: auto;
        width: fit-content;
        color: white;
        border-bottom: 1px solid white;
        margin-top: 2rem;
      }
    }
  }

  .see-more-link {
    @include mx(auto);
    @include px(3rem);

    margin-top: 3rem;
    display: block;
  }

  @media (max-width: 768px) {
    .slide-effect {
      display: none;
    }
  }
}
