@use "../abstracts/mixins" as *;

.service {
  .section-title {
    margin-top: 4rem;
    font-size: xxx-large;
  }
}

.service {
  .hero {
    background-image: url(@/images/service-bg.png);
    background-size: cover;

    @include breakpoints(md) {
      padding-top: 15rem;
    }

    @include breakpoints(xl) {
      padding-top: 15rem;
    }

    .hero-title {
      font-size: xxx-large;
      font-weight: bold;
    }

    .hero-description {
      font-size: large;

      @include breakpoints(md) {
        max-width: 500px;
      }
    }

    .hero-action-btn {
      @include px(3rem);

      background-color: var(--secondary-base-color);
      color: white;
      font-size: large;
    }

    .hero-image {
      width: 430px;
      height: 365px;
      transform: translateY(30px);
      background-image: url(@/images/service-hero-image.png);
      background-size: cover;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 60%;
      }

      @include breakpoints(maxMd) {
        display: none;
      }
    }

    @include breakpoints(md) {
      .hero-wrapper {
        display: flex;
        justify-content: space-between;
      }

      .hero-content {
        flex: 1 1 calc(100% / 7);
      }
    }
  }

  .service-info {
    .super-section {
      @include breakpoints(maxMd) {
        margin-top: -9rem;
      }

      @include breakpoints(md) {
        margin-top: -3rem;
      }
    }
  }

  .service-advantages {
    .list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include breakpoints(maxMd) {
        gap: 3rem;
        text-align: center;

        .item-number {
          @include mx(auto);
        }
      }
    }

    .item {
      flex: 1 1 300px;

      &-number {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(@/images/sticker-bg.png);
        background-size: cover;

        color: white;
        font-size: xxx-large;
        font-weight: bold;
      }

      &-title {
        margin-top: 1rem;
        font-size: x-large;
        color: var(--primary-base-color);
      }

      &-description {
        @include breakpoints(md) {
          max-width: 300px;
        }
      }
    }
  }
}

.service .service-body {
  margin-top: 6rem;

  .service-body-navigation {
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 4rem;

    @include breakpoints(maxMd) {
      gap: 2rem;
      white-space: nowrap;
    }
  }

  .service-body-navigation-item {
    cursor: pointer;
    font-size: large;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    color: #9b9b9b;
    min-width: 70px;
    white-space: nowrap;
    text-align: center;
    transition: all 0.3s ease;

    @include breakpoints(maxSm) {
      font-size: medium;
    }

    &.is-active,
    &:hover {
      color: var(--primary-base-color);
      border-bottom-color: var(--primary-base-color);
      font-weight: 600;
    }
  }

  .service-body-slider {
    margin-top: 5rem;
    display: flex;
    gap: 1rem;

    .service-body-image {
      flex: 0 0 400px;
      display: flex;

      @include breakpoints(maxLg) {
        display: none;
      }

      img {
        object-fit: cover;
        object-position: center;
      }
    }

    .slider-wrapper {
      flex: 1 1 auto;
    }

    .slider-item {
      padding : {
        top: 2rem;
        bottom: 2rem;
        inline-start: 3rem;
      }

      @include breakpoints(maxMd) {
        text-align: center;
        padding-inline-start: 0;
      }
    }

    .slider-item-title {
      font-size: xx-large;
      color: var(--primary-base-color);
    }

    .slider-item-description {
      margin-top: 2rem;
      line-height: 2;
    }

    .slider-item-btn {
      margin-top: 2px;
    }
  }
}

.service .service-quote {
  background-color: #f2f5fa;
  margin-top: 5rem;
  padding: 2rem;

  .description {
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    font-size: xx-large;
    text-align: center;
    color: var(--primary-base-color);
    font-weight: 600;
  }
}

.service .success-story {
  @include my(2rem);

  .slider-item {
    width: 100%;
    position: relative;
    min-height: 350px;
    padding: 4rem 2rem;

    background-size: cover;
    background-position: center;
    // box-shadow: 0 0 17rem 0rem rgb(115 101 154) inset;

    & > * {
      position: relative;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        270deg,
        rgba(115, 101, 154, 0.4430147058823529) 0%,
        rgba(255, 255, 255, 0) 60%
      );
      z-index: 1;
    }

    color: white;
  }

  .slider-item-title {
    font-size: x-large;
    font-weight: 600;
  }

  .slider-item-description {
    max-width: 400px;
  }

  .slider-item-btn {
    margin-top: 1rem;
  }

  .slider-action {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    gap: 0.75rem;

    .slider-btn {
      border: 2px solid var(--primary-base-color);
      font-size: 1.7rem;
      color: var(--primary-base-color);
    }
  }
}

.service .other-services {
  margin-bottom: 3rem;

  .section-title {
    margin: {
      top: 5rem;
      bottom: 3rem;
    }
    text-align: center;
  }

  // slider
  .slider-item {
    padding: 1rem;

    @include breakpoints(md) {
      --slider-item-width: calc(100% / 2);
    }

    @include breakpoints(lg) {
      --slider-item-width: calc(100% / 3);
    }

    @include breakpoints(xl) {
      --slider-item-width: calc(100% / 4);
    }

    .slider-item-image {
      background-color: var(--primary-base-color);
      img {
        object-fit: cover;
        object-position: center;
      }
    }

    .slider-item-title {
      margin-top: 2rem;
    }
  }

  .slider-item-btn {
    margin-top: 1rem;
  }

  .slider-action {
    margin-top: 1rem;

    display: flex;
    justify-content: center;
    gap: 0.75rem;

    .slider-btn {
      background-color: #ecf1fa;
      font-size: 1.7rem;
      color: var(--primary-base-color);
    }
  }
}
