@use "../abstracts/placeholders" as *;
@use "../abstracts/mixins" as *;

.header {
  @include py(2.5rem);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: white;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  //   opacity: 0.2;

  //   filter: blur(10px);
  //   width: 100%;
  //   height: 10rem;
  //   background-color: var(--primary-base-color);
  // }

  &-list {
    @extend %flex, %justify-between, %items-center;
  }

  &-item-wrapper {
    @extend %flex, %justify-between;
    gap: 3rem;
  }

  &-item {
    .item-label {
      @include ms(0.5rem);
    }
  }

  &-logo {
    width: 300px;
  }

  .change-lang-link {
    text-transform: uppercase;
  }
}
