section.hero {
  padding-top: var(--hero-padding-top, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 720px;
  position: relative;
  color: var(--neutral-light-color);
}
