.btn {
  font-size: 0.9rem;
  padding: 0.7rem 1rem;
  color: var(--primary-base-color);
  border: 2px solid var(--primary-base-color);
  align-self: center;
  transition: {
    property: color, background;
    duration: 0.3s;
    timing-function: ease-in-out;
  }

  &:hover {
    background-color: var(--primary-base-color);
    color: white;
  }
}
