@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.container {
  width: 100%;
  margin: {
    left: auto;
    right: auto;
  }

  padding: {
    left: 1rem;
    right: 1rem;
  }

  @include breakpoints(sm) {
    max-width: $sm;
  }
  @include breakpoints(md) {
    max-width: 98%;
  }

  @include breakpoints(lg) {
    max-width: $lg;
    // left: 2rem;
    // right: 2rem;
  }

  @include breakpoints(xl) {
    max-width: 1200px;
  }

  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

body {
  overflow-x: hidden;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.breadcrumb {
  margin-bottom: 2rem;
}

.super-section {
  @include shadow(lg);

  margin-top: var(--super-section-margin-top, -15rem);
  position: relative;
  background-color: var(--neutral-light-color);
  padding: 4rem 6rem;

  @include maxBreakpoints(sm) {
    padding: 4rem;
  }

  .super-section-title {
    font-weight: bold;
    font-size: var(--super-section-title-font-size, xxx-large);
    color: var(--neutral-base-color);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: -3.5rem;
      top: 50%;
      transform: translateY(-50%);
      background-color: #73659a;
      width: 3rem;
      height: 2px;
    }
  }
}
