@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.container {
  width: 100%;
  margin: {
    left: auto;
    right: auto;
  }

  padding: {
    left: 1rem;
    right: 1rem;
  }

  @include breakpoints(sm) {
    max-width: $sm;
  }
  @include breakpoints(md) {
    max-width: 98%;
  }

  @include breakpoints(lg) {
    max-width: $lg;
    // left: 2rem;
    // right: 2rem;
  }

  @include breakpoints(xl) {
    max-width: 1200px;
  }

  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

body {
  overflow-x: hidden;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.breadcrumb {
  margin-bottom: 2rem;
}

.super-section {
  @include shadow(lg);

  position: relative;
  background-color: var(--neutral-light-color);
  padding: 4rem 6rem;

  @include breakpoints(maxSm) {
    padding: 4rem;
  }

  @include breakpoints(maxXl) {
    margin-top: -15rem;
  }

  @include breakpoints(xl) {
    margin-top: -30rem;
  }
}
